Tuple

Creating

In [1]:
my_tuple=(1,3,4)
print(my_tuple)
print(type(my_tuple))

(1, 3, 4)
<class 'tuple'>

In [2]:
my_tuple=(1,"amol",4.5)
print(my_tuple)
print(type(my_tuple))

(1, 'amol', 4.5)
<class 'tuple'>

In [3]:
my_tuple=()
print(my_tuple)

()

Nested Tuple

In [4]:
my_tuple=(1,3,("amol",4,6),(4,True))
print(my_tuple)
print(type(my_tuple))

(1, 3, ('amol', 4, 6), (4, True))
<class 'tuple'>

Creating a tuple with only one item

In [6]:
a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [1]:
a=("amol")
print(a)
print(type(a))

amol
<class 'str'>

In [7]:
a=("amol",)
print(a)
print(type(a))

('amol',)
<class 'tuple'>

Tuple Constructor

In [2]:
a=tuple(("A","B","C"))
print(a)
print(type(a))

('A', 'B', 'C')
<class 'tuple'>

Indexing

In [3]:
a=(32,43,52,45,64,76,66)
print(a[6])

66

In [4]:
a=(32,43,52,45,"amol",64,76,66)
print(a[3])

45

In [5]:
print(a[-1])

66

Slicing

In [6]:
a=(32,43,52,45,"amol",64,76,66)
print(a[:3])

(32, 43, 52)

In [7]:
print(a[3:])

(45, 'amol', 64, 76, 66)

In [8]:
print(a[::2])

(32, 52, 'amol', 76)

In [9]:
print(a[::-1])

(66, 76, 64, 'amol', 45, 52, 43, 32)

In [11]:
t=(1,2,3,4,5,6,7,8)
print(t[::])
print(t[3:])
print(t[:4])
print(t[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [12]:
a=(24,23,56,34,34)
y=list(a)
y.append(32)
a=tuple(y)
print(a)

(24, 23, 56, 34, 34, 32)

In [13]:
a=(24,23,56,34,32)
y=list(a)
y.remove(34)
a=tuple(y)
print(a)

(24, 23, 56, 32)

Loop in Tuple

In [14]:
t=("A","B","C")
for x in t:
    print(x)

A
B
C

In [15]:
t1=(1,2,3,4)
t2=(3,2,1)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 3, 2, 1)

In [16]:
a=("apple","banana","orange")
b=a*3
print(b)

('apple', 'banana', 'orange', 'apple', 'banana', 'orange', 'apple', 'banana', 'orange')

In [17]:
t=(1,2,3,4,5,6,7,8)
print(t*2)
print(t+t+t)
print(t+t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

WAP to take 5 input from user and store it in a tuple

In [20]:
t=()
i=0
while i<=5:
    num=int(input("enter the value : "))
    t=t+(num,)
    i=i+1
print(t)

(10, 12, 13, 15, 16, 25)