DataTypes

In [1]:
x=2
print(x)
print(type(x))

2
<class 'int'>

In [2]:
y=2.5
print(y)
print(type(y))

2.5
<class 'float'>

In [3]:
z=3+2j
print(z)
print(type(z))

(3+2j)
<class 'complex'>

In [4]:
a="This is the day 2 of python class"
print(type(a))

<class 'str'>

In [5]:
b=[1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [6]:
c=(1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [7]:
%whos

Variable   Type       Data/Info
-------------------------------
a          str        This is the day 2 of python class
b          list       n=10
c          tuple      n=10
x          int        2
y          float      2.5
z          complex    (3+2j)