Creating a Set

In [1]:
a={"Animal","Cat","Dog"}
print(a)
print(type(a))

{'Cat', 'Dog', 'Animal'}
<class 'set'>

Set item are unordered

In [2]:
a={"Animal","Cat","Dog"}
print(a[1])

TypeError: 'set' object is not subscriptable

Duplicate not allowed

In [3]:

a={"Animal","Cat","Dog","Animal","Cat"}
print(a)

{'Cat', 'Dog', 'Animal'}

true and 1 consider as same

In [4]:
a={1,2,3,4,True,False}
print(a)

{False, 1, 2, 3, 4}

Length of a set

In [5]:
a={"Animal","Cat","Dog","Animal","Cat"}
print(a)
print(len(a))

{'Cat', 'Dog', 'Animal'}
3

set items - Data types

In [1]:
s1={1,2,3,4,5}
s2={1.2,4.5,6.7}
s3={True,False,True}
s4={"a","b"}
print(s1,s2,s3,s4)

{1, 2, 3, 4, 5} {1.2, 4.5, 6.7} {False, True} {'a', 'b'}

In [2]:
s={1,2,3.4,True,"a"}
print(s)

{1, 2, 3.4, 'a'}

In [3]:
x5={[1,2,2,3]}
print(x5)

TypeError: unhashable type: 'list'

In [4]:
x5={(1,2,2,3)}
print(x5)

{(1, 2, 2, 3)}

In [5]:
a={{1,2},{2,3}}
print(a)

TypeError: unhashable type: 'set'

The set() constructor

In [6]:
s=set(("alpha","beta","gama"))
print(s)

{'alpha', 'gama', 'beta'}

Creating empty Set

In [8]:
a={}
print(a)
print(type(a))

{}
<class 'dict'>

In [10]:
a=set()
print(a)
print(type(a))

set()
<class 'set'>

Access Item

In [11]:
a={"a","b","c"}
for i in a:
    print(i)

a
c
b

check item present or not in set

In [13]:
a={"python","code","data"}
print("code" in a)

True

In [14]:
print("Code" in a)

False

Add items

In [15]:
a={"a","b","c","d"}
a.add(100)
print(a)

{'d', 'b', 100, 'a', 'c'}

In [16]:
a={"a","b","c","d"}
b={"python","code","data"}
a.update(b)
print(a)

{'d', 'a', 'b', 'data', 'code', 'python', 'c'}

Remove set items

In [18]:
a={"a","b","c","d", 'data', 'code', 'python'}
a.remove("b")
print(a)

{'d', 'data', 'a', 'code', 'python', 'c'}

In [22]:
a={"a","b","c","d", 'data', 'code', 'python'}
a.remove('data')
print(a)

{'d', 'b', 'a', 'code', 'python', 'c'}

one item randomly delete

In [24]:
x={"a","b","c","d", 'data', 'code', 'python'}
a=x.pop()
print(a)
print(x)

d
{'b', 'data', 'a', 'code', 'python', 'c'}

In [25]:
x={"a","b","c","d", 'data', 'code', 'python'}
x.clear()
print(x)

set()

In [26]:
x={"a","b","c","d", 'data', 'code', 'python'}
del x
print(x)

NameError: name 'x' is not defined

Join two Set

In [28]:
x={"a","b","c","d", 'data', 'code', 'python'}
y={1,2,3,4,5,6}
z=x.union(y)
print(z)

{'d', 1, 'b', 'data', 2, 'code', 3, 4, 5, 6, 'a', 'python', 'c'}

WAP tp find max and min values

In [29]:
a={1,65,34,87,56,34,89,4}
print("Original set :")
print(a)
print("maximum value")
print(max(a))
print("minimum values")
print(min(a))

Original set :
{65, 34, 1, 4, 87, 56, 89}
maximum value
89
minimum values
1

Return a new set of identical items from two sets

In [30]:
s1={12,323,45,76,97,34,5}
s2={34,45,56,35,76,45,43}
print(s1.intersection(s2))

{34, 76, 45}